.preloader {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at top, #1d2735, #0e141b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* Icon Box ========================= */
.icon-box {
  width: 110px;
  height: 110px;
  background: linear-gradient(145deg, #d35400, #f39c12);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 40px rgba(255, 140, 0, 0.4);
  animation: glow 2s infinite alternate;

  i {
    font-size: 50px;
    color: #fff;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 12px rgba(255, 136, 0, 0.3);
  }
  to {
    box-shadow: 0 0 30px rgba(255, 136, 0, 0.7);
  }
}
@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-box i {
  animation: rotateIcon 6s linear infinite;
}
/* Text ================ */
.welcome-text {
  font-size: 42px;
  font-weight: 600;
}

.name-text {
  font-size: 48px;
  background: linear-gradient(90deg, #ffd392, #ff7f32);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

.role {
  margin-top: 8px;
  font-size: 20px;
  opacity: 0.8;
}

.status {
  margin-top: 16px;
  font-size: 18px;
  opacity: 0.8;
}

/* Loading bar ===================== */
.loading-bar {
  width: 60%;
  height: 6px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin: 0 auto;

  .progress-bar {
    background: linear-gradient(90deg, #ff7f21, #ffbb5c);
    border-radius: 10px;
    transition: width 0.15s ease-in-out;
  }
}

.percent-text {
  margin-top: 8px;
  opacity: 0.7;
}
