<div class="container mt-5 achievements" style=" font-family: 'Alevia', serif;">
    <div class="row justify-content-center text-center mb-3">
        <div class="col-12">
            <h1 class="fw-bold mb-3 display-5" style="color: red;" data-aos="fade-up" data-aos-duration="2000">Key Highlights</h1>
            <p class="text-secondary fs-5 text_achiev" data-aos="fade-right" data-aos-duration="2000">
                Some of my key achievements and milestones in my development journey
            </p>
        </div>
    </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 mb-4" *ngFor="let skill of skills">
                <div class="card p-3 skill-card d-flex justify-content-center h-100 shadow-sm">
                    <div class="body">
                        <div class="text-center fa_right mb-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <p class="text-center title" data-aos="fade-right" data-aos-duration="2000"><strong>{{ skill.title }}</strong></p>
                        <p class="text-center" data-aos="fade-up" data-aos-duration="2000">{{ skill.description }}</p>
                    </div>
                </div>
            </div>
    </div>
</div>