/* Transparent navbar fixed at top */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(145, 138, 138, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-family: Alevia, serif;
  font-size: 1rem;
}

.nav-link {
  color: black !important;
  font-weight: 600;
}

h1,
span {
  font-size: 3.5rem;
  font-family: Alevia, serif;
}
h1 {
  color: rgb(243, 235, 235);
}
/* Keep underline and red color for active link */
.hover-underline {
  position: relative;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
  color: red;
}

.nav-link.active-link {
  color: red !important;
}
.active-link {
  color: red !important;
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}
.nav-item,
.hover-underline:hover {
  color: red;
}

.hover-underline:hover::after {
  width: 100%;
}
/* end Keep underline and red color for active link */

.text-dark {
  color: black !important;
  line-height: 0.6rem;
  text-decoration: underline;
  cursor: pointer;
}
button,
span {
  font-size: 1.2rem;
}
@media (max-width: 1024px) {
  .content_data {
    display: flex;
    justify-content: space-between !important;
  }
}
@media (min-width: 768px) {
  .two_button {
    display: flex !important;
    justify-content: end !important;
    align-content: end;
  }
}

.logo-spin {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
}

.logo-spin svg {
  width: 70px;
  height: 70px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal-body {
   height: 20rem !important;
  li {
    a {
      text-decoration: none;
      padding: 0.8rem;
    }
  }
}
