.profile-wrapper {
  display: inline-block;
  perspective: 1000px;
}

.profile-frame {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  padding: 8px;
  // background: linear-gradient(135deg, #ff4b2b, #ff416c, #1e90ff);
  background: linear-gradient(135deg, #ece1df, #ebe4e5, #bbc2c9);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: float 3s ease-in-out infinite, tilt 6s ease-in-out infinite;
  box-shadow: 0 0 25px rgba(255, 65, 108, 0.5), 0 0 40px rgba(30, 144, 255, 0.4);
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  animation: subtle-zoom 4s ease-in-out infinite;
  object-position: 30% 50%;
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Gentle Tilt Animation */
@keyframes tilt {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(8deg) rotateX(-5deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

/* Soft Zoom Animation */
@keyframes subtle-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.view_my {
  background-color: #ea580c !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.view_my:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  //   transition: all 0.3s ease-in-out;
}
.get_touch {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.get_touch:hover {
  border: 2px solid #ea580c;
  box-shadow: 0 4px 10px rgba(234, 88, 12, 0.3);
  transform: translateY(-5px);
}

@media (max-width: 320px) {
  .image_content {
    margin-bottom: 4rem !important;
  }
  .card {
    margin: auto;
  }
}
@media (max-width: 375px) {
  .image_content {
    margin-bottom: 4rem !important;
  }
  .card {
    margin: auto;
  }
}
@media (max-width: 425px) {
  .image_content {
    margin-bottom: 4rem !important;
  }
  .card {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .image_content {
    margin-bottom: 4rem !important;
  }
  .card {
    margin: auto;
  }
}
