.view_my{
   background-color: #ea580c !important; 
   cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.view_my:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
//   transition: all 0.3s ease-in-out;
}
.get_touch{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.get_touch:hover {
  border: 2px solid #ea580c;
  box-shadow: 0 4px 10px rgba(234, 88, 12, 0.3);
  transform: translateY(-5px);
}


