.my-story-section {
  background-color: #f8f9fa;
  transition: all 0.3s ease-in-out;
}


p{
  color: #374151;  
}
.story-card , p{
 line-height: 1.3 !important;
 font-size: 1.1rem !important;
 

}
.tech_text{
    color: red;
    font-size: 2.5rem;
}
.p_1{
color: #374151;
font-size: 1.2rem;
}
.featured{
  background-color: #f7f0f0;
  h2{
    margin-top: 4rem;
  }
  .p_1{
 margin-bottom: 4rem;   
  }
}


