<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow p-4" style="width: 350px; border-radius: 12px">
    <h3 class="text-center mb-4">User SignIn</h3>

    <form>
      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
       <div class="input-group">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email address"
          />
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group">
          <span
            class="input-group-text"
            style="cursor: pointer"
            (click)="togglePassword()"
          >
            <i
              class="fa"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </span>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            placeholder="Enter password"
          />
          
        </div>
      </div>

      <!-- Sign in button -->
      <button type="submit" class="btn btn-primary w-100">Sign In</button>

      <!-- Links -->
      <div class="text-center mt-3">
        <p class="mb-1">
          Don't have an account?
          <a
            (click)="navigateTo()"
            class="text-decoration-none"
            style="cursor: pointer"
            >Sign Up</a
          >
        </p>
        <p class="mb-0">
          <a class="text-decoration-none">Forgot Password?</a>
        </p>
      </div>
    </form>
  </div>
</div>
