.modelPage{
    text-align: center;
    font-family: 'Alevia', serif;
    .heading{
        color: #ff7a00;
    }
}

.btn-orange:hover {
    background-color: #e96a00;
}
.fa-lock{
    margin-top: 1rem;
   background-color: #fff5e6;
   border-radius: 50%;
   padding: 1.2rem;
}
